*{
    margin: 0;
}

header{
    background: linear-gradient(rgb(248, 210, 216) 50%, rgb(200, 208, 241) 50%); 
    padding: 30px;
    text-align: right;

}

body{
    background-color: #ffffff;
    
}
nav{
    display: flex;
    justify-content: center;
    gap: 30px;
}
nav a{
    text-decoration: none;
    transition: 0.3s;
    color: #000;
    font-weight: bolder;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

div{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.strings{
    display: flex;
    flex-direction: column;

}
h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: left;
    color: #000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

p {
    display: flex;
    justify-content: left;
    font-size: 20px;
    padding: 50px;
    text-align: left;
}
img{
    display: flex;
}



